header{
  width: 100%;
  padding: 10px;
  background: #c52f24;
  color: #fff;
  margin: 0px;
}

footer{
  width: 100%;
  padding: 10px;
  background: #c52f24;
  color: #fff;
  margin: 0px;
}

table th {
  background-color: #f5c7c5;
  padding: 10px 20px;
}

table td {
  background-color: #f8e7e7;
  padding: 10px 20px;
}

.notice {
  background-color: rgb(255, 204, 248);
  padding: 5px;
}